<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <%= @customer_name %> (<%= @customer_email %>) has successfully signed up for Membership.
    </p>
    <p>
      Membership Start Date: <b><%= @start_date %></b><br />
      Subscription Type: <b><%= @interval.capitalize %>ly</b>
    </p>
    <p>
      Name: <b><%= @customer_name %></b><br />
      Email: <b><%= @customer_email %></b><br />
      Membership ID: <b><%= @customer_id %></b>
    </p>
  </body>
</html>