<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      CANCELLATION REQUEST
    </p>
    <p>
      Name: <b><%= @customer_name %></b><br />
      Account Email: <b><%= @customer_email %></b><br />
      Last four digits of Credit Card Number Used: <b><%= @last_four %></b>
    </p>
    <p>
      Cancellation Request Date: <b><%= @date_requested %></b><br />
      Reason for Cancellation: <b><%= @reason %></b><br />
      What suggestions can you offer to improve our membership services / perks: <b><%= @suggestion %></b>
    </p>
  </body>
</html>